body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(15, 15, 15);
}

.spotdl{
    display: none;
}

header{
    align-items: center;
    background-color: #121212;
    color: #fff;
    box-shadow: 0 0 10px white;
    
    nav a{
        color: #fff;
    }
}

h1 {
    color: #fff;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background: none;
    box-shadow: 0 0 10px white;
    outline: 2px solid white;
    color: white;

    &::placeholder {
        color: #ddd;
        
    }
}


section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ypdl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    width: 100%;
}

section button {
    background-color: #FF7700;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #FF7700;
}

#descargas{
    display: flex;
    flex-direction: column;
    background: #121212;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 20px;
    margin-top: 50px;

    a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        margin: 10px 0;
        background: #FF7700;
        padding: 10px;
        font-weight: bold;
        border-radius: 20px;
        text-transform: uppercase;
    }

}

#menu img{
    fill: white;
}

.soundcloudD{
    display: none;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: #FF7700;

    img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 10px;
    }
}

#status {
    box-shadow: 0 0 10px white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    background: #121212;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
}

progress {
    width: 80%;
    max-width: 400px;
    height: 20px;
    margin-top: 10px;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease-in-out;
}


progress::-webkit-progress-bar {
    background-color: #ddd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #007bff;
    border-radius: 10px;
}

/* Estilos para los enlaces */
a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}


@media(max-width: 450px){
    .name h1{
        font-size: 1.5em;
    }

    section h1{
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    #menu-black{
        display: none;
    }

    #menu-white{
        display: flex;
    }

    .menu{
        background: #121212;
        box-shadow: 0 0 10px white;

        a{
            color: #fff;
        }
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin-top: -15px;
    }

    .ypdl{
        width: 90%;
    }
}