{% extends "base.html" %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Elige Tu Plataforma</h1>

        <div class="links">
            <a href="/spotify-downloader" class="spotify">
                <img src="{{ url_for('static', filename='img/spotify.png') }}" alt="">
                <h2>SPOTIFY</h2>
            </a>
            <a href="/youtube-downloader" class="youtube">
                <img src="{{ url_for('static', filename='img/youtube.png') }}" alt="">
                <h2>YOUTUBE</h2>
            </a>
            <a href="/soundcloud-downloader" class="soundcloud">
                <img src="{{ url_for('static', filename='img/soundcloud.png') }}" alt="">
                <h2>SOUNDCLOUD</h2>
            </a>
        </div>

        <div class="info">
            {% if session_user %}
            <h3>Tu carpeta fue creada.</h3>
            {% else %}
            <h3>Al registrarse o al iniciar sesion se crea una carpeta personal, lo que facilita la descarga de las canciones y lo hace mas agil.</h3>
            {% endif %}
        </div>
    </section>
{% endblock %}
