<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/LOGO.png') }}" type="image/x-icon">
    <title>MRZ DOWNLOADER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    {% include 'components/header.html'   %}

    <section>
        <h1>Elige Tu Plataforma</h1>

        <div class="links">
            <a href="/spotify-downloader" class="spotify">
                <img src="{{ url_for('static', filename='img/spotify.png') }}" alt="">
                <h2>SPOTIFY</h2>
            </a>
            <a href="/youtube-downloader" class="youtube">
                <img src="{{ url_for('static', filename='img/youtube.png') }}" alt="">
                <h2>YOUTUBE</h2>
            </a>
            <a href="/soundcloud-downloader" class="soundcloud">
                <img src="{{ url_for('static', filename='img/soundcloud.png') }}" alt="">
                <h2>SOUNDCLOUD</h2>
            </a>
        </div>
    </section>
</body>
</html>
