{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/soundcloud.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="name">
        <img src="{{ url_for('static', filename='img/soundcloud.png') }}" alt="soundcloud Logo">
        <h1>{{name.upper()}} DOWNLOADER</h1>
    </div>

    <section>
        <h1>Download Music</h1>

        {% include 'components/buscador.html' %}
    
        <p id="status" style="display: none;"></p>
        <div id="descargas" style="display: none;">
            <a id="descargar-link" href="/descargar" download>⬇️ Download Song</a>
            <a href="/descargar_todo">📁 Download all songs (ZIP)</a>
        </div>
        <br><br>

    </section>


    <script src="{{ url_for('static', filename='js/downloader.js') }}"></script>
{% endblock %}
