<header>
    <div class="logo">
        <a href="/" style="display: flex; justify-content: center; align-items: center; color: black; text-decoration: none;">            
            <img src="{{ url_for('static', filename='img/LOGO.png') }}" alt="Logo">
            <h1>MRZDOWNLOADER</h1>
        </a>
    </div>
    <nav>
        <a href="/spotify-downloader" class="spotifyD">SPOTIFY</a>
        <a href="/youtube-downloader" class="youtubeD">YOUTUBE</a>
        <a href="/soundcloud-downloader" class="soundcloudD">SOUNDCLOUD</a> 
    </nav>
    <button id="menu-black"><img src="{{ url_for('static', filename='img/menu.svg') }}" alt=""></button>
    <button id="menu-white"><img src="{{ url_for('static', filename='img/menu white.svg') }}" alt=""></button>

    <div class="menu hidden">
        <a href="/spotify-downloader" class="spotify">SPOTIFY</a>
        <a href="/youtube-downloader" class="youtube">YOUTUBE</a>
        <a href="/soundcloud-downloader" class="soundcloud">SOUNDCLOUD</a>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</header>