<header>
    <div class="logo">
        <a href="/" style="display: flex; justify-content: center; align-items: center; color: black; text-decoration: none;">            
            <img src="{{ url_for('static', filename='img/LOGO.png') }}" alt="Logo">
            <h1>MRZDOWNLOADER</h1>
        </a>
    </div>
    {% if not session_user %}    
    <nav>
        <select name="downloader" id="downloader" class="styled-select">
            <option value="/spotify-downloader" class="spotifyD">SPOTIFY</option>
            <option value="/youtube-downloader" class="youtubeD">YOUTUBE</option>
            <option value="/soundcloud-downloader" class="soundcloudD">SOUNDCLOUD</option>
        </select>
        <button id="login-button">Login</button>
        <button id="register-button">Register</button>
    </nav>
    {% else %}
    <nav>
        <select name="downloader" id="downloader" class="styled-select">
            <option value="/spotify-downloader" class="spotifyD">SPOTIFY</option>
            <option value="/youtube-downloader" class="youtubeD">YOUTUBE</option>
            <option value="/soundcloud-downloader" class="soundcloudD">SOUNDCLOUD</option>
        </select>
        <p>{{session_user[1]}}</p>
        <a href="/logout">LOGOUT</a>
    </nav>
    {% endif %}

    <button id="menu-black"><img src="{{ url_for('static', filename='img/menu.svg') }}" alt=""></button>
    <button id="menu-white"><img src="{{ url_for('static', filename='img/menu white.svg') }}" alt=""></button>

    {% if not session_user %}
    <div class="menu hidden">
        <a href="/spotify-downloader" class="spotify">SPOTIFY</a>
        <a href="/youtube-downloader" class="youtube">YOUTUBE</a>
        <a href="/soundcloud-downloader" class="soundcloud">SOUNDCLOUD</a>
        <button id="login-button2">Login</button>
        <button id="register-button2">Register</button>
    </div>
    {% else %}
    <div class="menu hidden">
        <a href="/spotify-downloader" class="spotify">SPOTIFY</a>
        <a href="/youtube-downloader" class="youtube">YOUTUBE</a>
        <a href="/soundcloud-downloader" class="soundcloud">SOUNDCLOUD</a>

    </div>
    {% endif %}
    </header>